.container-jumbotron-outer {
    background-image: url("../images/site-images/luleablur.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 25px 0;

    color: #fff;
}

.team-logos {

}

.team-logo {
    height: 100px;
}