.space {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
.space .dot {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
}
.space .dot:nth-of-type(150) {
  top: 156%;
  left: 222%;
  animation: toRight 5600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(149) {
  top: 34%;
  left: 260%;
  animation: toRight 6000ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(148) {
  top: 197%;
  left: 67%;
  animation: toRight 10400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(147) {
  top: 171%;
  left: 108%;
  animation: toRight 12000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(146) {
  top: 103%;
  left: 281%;
  animation: toRight 6400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(145) {
  top: 251%;
  left: 197%;
  animation: toRight 9600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(144) {
  top: 116%;
  left: 46%;
  animation: toRight 7200ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(143) {
  top: 181%;
  left: 91%;
  animation: toRight 4400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(142) {
  top: 267%;
  left: 227%;
  animation: toRight 11600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(141) {
  top: 287%;
  left: 3%;
  animation: toRight 9600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(140) {
  top: 8%;
  left: 79%;
  animation: toRight 4800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(139) {
  top: 266%;
  left: 222%;
  animation: toRight 12000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(138) {
  top: 70%;
  left: 106%;
  animation: toRight 11600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(137) {
  top: 134%;
  left: 144%;
  animation: toRight 10400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(136) {
  top: 289%;
  left: 116%;
  animation: toRight 10400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(135) {
  top: 240%;
  left: 76%;
  animation: toRight 8800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(134) {
  top: 119%;
  left: 161%;
  animation: toRight 2800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(133) {
  top: 169%;
  left: 284%;
  animation: toRight 7200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(132) {
  top: 264%;
  left: 190%;
  animation: toRight 2400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(131) {
  top: 13%;
  left: 194%;
  animation: toRight 8800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(130) {
  top: 187%;
  left: 214%;
  animation: toRight 3600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(129) {
  top: 148%;
  left: 146%;
  animation: toRight 11200ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(128) {
  top: 94%;
  left: 280%;
  animation: toRight 7200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(127) {
  top: 289%;
  left: 255%;
  animation: toRight 4800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(126) {
  top: 73%;
  left: 156%;
  animation: toRight 10400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(125) {
  top: 211%;
  left: 272%;
  animation: toRight 4000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(124) {
  top: 145%;
  left: 34%;
  animation: toRight 8800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(123) {
  top: 7%;
  left: 208%;
  animation: toRight 11600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(122) {
  top: 148%;
  left: 182%;
  animation: toRight 9200ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(121) {
  top: 74%;
  left: 200%;
  animation: toRight 5200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(120) {
  top: 231%;
  left: 293%;
  animation: toRight 3200ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(119) {
  top: 288%;
  left: 6%;
  animation: toRight 7600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(118) {
  top: 184%;
  left: 81%;
  animation: toRight 4000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(117) {
  top: 271%;
  left: 148%;
  animation: toRight 12000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(116) {
  top: 37%;
  left: 215%;
  animation: toRight 3600ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(115) {
  top: 55%;
  left: 154%;
  animation: toRight 11200ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(114) {
  top: 104%;
  left: 87%;
  animation: toRight 8000ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(113) {
  top: 271%;
  left: 84%;
  animation: toRight 8800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(112) {
  top: 164%;
  left: 44%;
  animation: toRight 10400ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(111) {
  top: 131%;
  left: 232%;
  animation: toRight 4000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(110) {
  top: 2%;
  left: 171%;
  animation: toRight 12000ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(109) {
  top: 54%;
  left: 96%;
  animation: toRight 8400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(108) {
  top: 141%;
  left: 207%;
  animation: toRight 6400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(107) {
  top: 120%;
  left: 281%;
  animation: toRight 6400ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(106) {
  top: 132%;
  left: 161%;
  animation: toRight 11200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(105) {
  top: 168%;
  left: 290%;
  animation: toRight 2400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(104) {
  top: 162%;
  left: 83%;
  animation: toRight 12000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(103) {
  top: 88%;
  left: 133%;
  animation: toRight 10400ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(102) {
  top: 252%;
  left: 184%;
  animation: toRight 3600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(101) {
  top: 253%;
  left: 111%;
  animation: toRight 8000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(100) {
  top: 277%;
  left: 158%;
  animation: toRight 3200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(99) {
  top: 165%;
  left: 62%;
  animation: toRight 10800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(98) {
  top: 224%;
  left: 272%;
  animation: toRight 3200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(97) {
  top: 72%;
  left: 191%;
  animation: toRight 9600ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(96) {
  top: 54%;
  left: 73%;
  animation: toRight 6000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(95) {
  top: 10%;
  left: 292%;
  animation: toRight 6000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(94) {
  top: 38%;
  left: 124%;
  animation: toRight 6000ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(93) {
  top: 153%;
  left: 188%;
  animation: toRight 4800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(92) {
  top: 198%;
  left: 217%;
  animation: toRight 6400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(91) {
  top: 299%;
  left: 208%;
  animation: toRight 9200ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(90) {
  top: 104%;
  left: 260%;
  animation: toRight 6400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(89) {
  top: 16%;
  left: 43%;
  animation: toRight 11200ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(88) {
  top: 142%;
  left: 276%;
  animation: toRight 6400ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(87) {
  top: 184%;
  left: 113%;
  animation: toRight 4800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(86) {
  top: 186%;
  left: 253%;
  animation: toRight 10000ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(85) {
  top: 98%;
  left: 81%;
  animation: toRight 3600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(84) {
  top: 133%;
  left: 244%;
  animation: toRight 7200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(83) {
  top: 75%;
  left: 12%;
  animation: toRight 7600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(82) {
  top: 270%;
  left: 128%;
  animation: toRight 3600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(81) {
  top: 45%;
  left: 125%;
  animation: toRight 2400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(80) {
  top: 6%;
  left: 234%;
  animation: toRight 2400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(79) {
  top: 79%;
  left: 227%;
  animation: toRight 8800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(78) {
  top: 253%;
  left: 195%;
  animation: toRight 11200ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(77) {
  top: 116%;
  left: 131%;
  animation: toRight 12000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(76) {
  top: 286%;
  left: 154%;
  animation: toRight 12000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(75) {
  top: 236%;
  left: 278%;
  animation: toRight 11200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(74) {
  top: 49%;
  left: 187%;
  animation: toRight 8400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(73) {
  top: 78%;
  left: 159%;
  animation: toRight 3200ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(72) {
  top: 266%;
  left: 67%;
  animation: toRight 8400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(71) {
  top: 224%;
  left: 227%;
  animation: toRight 7200ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(70) {
  top: 217%;
  left: 215%;
  animation: toRight 4800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(69) {
  top: 156%;
  left: 210%;
  animation: toRight 6000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(68) {
  top: 95%;
  left: 59%;
  animation: toRight 2400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(67) {
  top: 10%;
  left: 146%;
  animation: toRight 7600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(66) {
  top: 218%;
  left: 241%;
  animation: toRight 8800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(65) {
  top: 257%;
  left: 91%;
  animation: toRight 9600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(64) {
  top: 60%;
  left: 150%;
  animation: toRight 5600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(63) {
  top: 234%;
  left: 61%;
  animation: toRight 5600ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(62) {
  top: 1%;
  left: 220%;
  animation: toRight 11600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(61) {
  top: 153%;
  left: 260%;
  animation: toRight 5600ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(60) {
  top: 262%;
  left: 223%;
  animation: toRight 5600ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(59) {
  top: 277%;
  left: 10%;
  animation: toRight 9600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(58) {
  top: 248%;
  left: 92%;
  animation: toRight 4000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(57) {
  top: 153%;
  left: 163%;
  animation: toRight 8400ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(56) {
  top: 286%;
  left: 12%;
  animation: toRight 10800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(55) {
  top: 72%;
  left: 161%;
  animation: toRight 6400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(54) {
  top: 81%;
  left: 11%;
  animation: toRight 3200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(53) {
  top: 137%;
  left: 103%;
  animation: toRight 8000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(52) {
  top: 290%;
  left: 256%;
  animation: toRight 11200ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(51) {
  top: 253%;
  left: 169%;
  animation: toRight 6400ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(50) {
  top: 50%;
  left: 273%;
  animation: toRight 3600ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(49) {
  top: 261%;
  left: 150%;
  animation: toRight 8800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(48) {
  top: 240%;
  left: 143%;
  animation: toRight 9600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(47) {
  top: 213%;
  left: 120%;
  animation: toRight 8000ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(46) {
  top: 35%;
  left: 8%;
  animation: toRight 7200ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(45) {
  top: 271%;
  left: 157%;
  animation: toRight 2800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(44) {
  top: 3%;
  left: 69%;
  animation: toRight 3600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(43) {
  top: 64%;
  left: 279%;
  animation: toRight 5600ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(42) {
  top: 169%;
  left: 249%;
  animation: toRight 6400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(41) {
  top: 244%;
  left: 158%;
  animation: toRight 6800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(40) {
  top: 255%;
  left: 284%;
  animation: toRight 7600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(39) {
  top: 138%;
  left: 100%;
  animation: toRight 12000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(38) {
  top: 247%;
  left: 10%;
  animation: toRight 8800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(37) {
  top: 218%;
  left: 280%;
  animation: toRight 2800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(36) {
  top: 258%;
  left: 156%;
  animation: toRight 10800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(35) {
  top: 264%;
  left: 277%;
  animation: toRight 11600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(34) {
  top: 119%;
  left: 243%;
  animation: toRight 6000ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(33) {
  top: 169%;
  left: 298%;
  animation: toRight 2800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(32) {
  top: 125%;
  left: 52%;
  animation: toRight 10000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(31) {
  top: 246%;
  left: 99%;
  animation: toRight 2800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(30) {
  top: 191%;
  left: 281%;
  animation: toRight 8400ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(29) {
  top: 134%;
  left: 246%;
  animation: toRight 4000ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(28) {
  top: 98%;
  left: 296%;
  animation: toRight 12000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(27) {
  top: 89%;
  left: 281%;
  animation: toRight 6800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(26) {
  top: 214%;
  left: 82%;
  animation: toRight 2400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(25) {
  top: 53%;
  left: 133%;
  animation: toRight 7600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(24) {
  top: 159%;
  left: 72%;
  animation: toRight 2400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(23) {
  top: 64%;
  left: 252%;
  animation: toRight 8800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(22) {
  top: 251%;
  left: 64%;
  animation: toRight 5600ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(21) {
  top: 217%;
  left: 199%;
  animation: toRight 9200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(20) {
  top: 229%;
  left: 296%;
  animation: toRight 10800ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(19) {
  top: 57%;
  left: 105%;
  animation: toRight 11200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(18) {
  top: 256%;
  left: 168%;
  animation: toRight 4400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(17) {
  top: 240%;
  left: 24%;
  animation: toRight 5200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(16) {
  top: 82%;
  left: 159%;
  animation: toRight 4800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(15) {
  top: 230%;
  left: 164%;
  animation: toRight 12000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(14) {
  top: 83%;
  left: 238%;
  animation: toRight 8400ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(13) {
  top: 143%;
  left: 224%;
  animation: toRight 11600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(12) {
  top: 47%;
  left: 252%;
  animation: toRight 10800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(11) {
  top: 35%;
  left: 52%;
  animation: toRight 8800ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(10) {
  top: 141%;
  left: 98%;
  animation: toRight 4400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(9) {
  top: 118%;
  left: 192%;
  animation: toRight 7600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(8) {
  top: 259%;
  left: 47%;
  animation: toRight 2800ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(7) {
  top: 233%;
  left: 55%;
  animation: toRight 5200ms infinite linear;
  transform: scale(1);
}
.space .dot:nth-of-type(6) {
  top: 281%;
  left: 171%;
  animation: toRight 11200ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(5) {
  top: 139%;
  left: 179%;
  animation: toRight 9200ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(4) {
  top: 213%;
  left: 205%;
  animation: toRight 5600ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(3) {
  top: 244%;
  left: 24%;
  animation: toRight 10400ms infinite linear;
  transform: scale(3);
}
.space .dot:nth-of-type(2) {
  top: 101%;
  left: 30%;
  animation: toRight 6000ms infinite linear;
  transform: scale(2);
}
.space .dot:nth-of-type(1) {
  top: 29%;
  left: 269%;
  animation: toRight 6000ms infinite linear;
  transform: scale(2);
}
.center-row {
  background-color: #48CDDE;
  width: 100%;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
}
.center-row .darker-blue-row {
  z-index: 12;
  position: absolute;
  height: 12%;
  background-color: #155FD9;
  width: 100%;
}
.center-row .darker-blue-row.bottom {
  bottom: 0;
  z-index: 12;
}
.center-row .light-blue-line {
  z-index: 14;
  height: 0;
  width: 100%;
  border: 2px solid #48CDDE;
  margin: 4px 0;
}
.center-row .light-blue-line.bottom {
  z-index: 14;
  margin: 4px 0;
  margin-top: 40px;
  position: absolute;
  bottom: 0;
}
.center-row .light-blue-line.upper {
  z-index: 14;
  position: absolute;
  bottom: 8px;
}
@keyframes toRight {
  from {
    left: 0%;
  }
  50% {
    left: 60%;
  }
  to {
    left: 101%;
  }
}
.megaman-center {
  position: relative;
  text-align: center;
  z-index: 9999 !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);  
  padding: 25px;
  color: #ed1c24;
  font-family: 'highvoltage_roughregular',Arial,sans-serif !important;
  font-size: 1.5em;
  text-transform: uppercase;
}

.megaman-center span {
  display: block;
}

.otherclose {
  font-family: 'highvoltage_roughregular',Arial,sans-serif !important;
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    padding: 5px 10px 0 10px;
    background: white;
    font-size: 2em;
    cursor: pointer;
    z-index: 99;
}