<div class="container-jumbotron-outer w" ng-show="!isLoading">
  <div class="pwrapper">
    <div class="game-metadata p">
      <h1 class="game-venue normal-game-venue">{{game.venue}}<!-- , Stad --></h1>
      <!--<h1 class="game-venue retro-game-venue">Delfinen, Luleå</h1>-->
      <h2 class="game-date">{{dateString}}</h2>
      <h2 class="game-info">SHL grundserien</h2>
      <h2 class="game-round">Omgång {{game.roundNumber}}</h2>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="pwrapper dblock">
    <div class="game-matchup p">
      <div class="team-home svg-container shake-trigger left">
        <div class="shake-slow">
          <team-logo team-code="game.homeTeamCode"></team-logo>
        </div>
      </div>

      <div class="versus left">
        vs.
      </div>

      <div class="team-away svg-container shake-trigger left">
        <div class="shake-little">
          <team-logo team-code="game.awayTeamCode"></team-logo>
        </div>
      </div>
    </div>
  </div>

  <div class="pwrapper dblock">
    <div class="jumbotron p">
      <div class="jumbotron-inner">
        <div class="home">
          <div class="team-heading">
            Home
          </div>
          <div class="score">
            <!-- får klassen blink_me när det har gjorts mål, ta bort klassen efter 5s-10s? -->
            {{homeScore}}
          </div>
        </div>
        <div class="time-period">
          <div class="time">
            <span>
              <!-- 00:00 till 20:00 -->
              {{currentGameTime.minutes}}:{{currentGameTime.seconds}}
            </span>
          </div>
          <div class="period-status">
            <div class="period-heading">
              Period
            </div>
            <div class="period-data">
              <!-- 1, 2, 3, OT, SO -->
              {{gameDetails.live.period}}
            </div>
          </div>
        </div>
        <div class="guest">
          <div class="team-heading">
            Guest
          </div>
          <div class="score">
            {{awayScore}}
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="game-status" ng-class="{ 'green': !game.played, 'red': game.played }">
          <!-- när spelet är aktivt, klass green, "Matchen pågår" -->
          <!-- byts till klassen yellow när det är paus, "Paus" -->
          <!-- byts till klassen red när matchen är slut, "Matchen är slut" -->
          Matchen pågår
        </div>
      </div>
    </div>
  </div>
</div>

<h3 ng-show="isLoading">Laddar livedata...</h3>